node-red-flow/orchestrate_dsx_workflow.json
[{"id":"ec7489e8.428408","type":"websocket in","z":"5ebc6228.47110c","name":"","server":"eb24a332.8705b","client":"","x":250,"y":220,"wires":[["a922a83a.b9d1e8","8919f694.292b4"]]},{"id":"8919f694.292b4","type":"function","z":"5ebc6228.47110c","name":"","func":"msg._session=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["62586da6.706c04"]]},{"id":"a922a83a.b9d1e8","type":"debug","z":"5ebc6228.47110c","name":"","active":true,"console":"false","complete":"false","x":430,"y":140,"wires":[]},{"id":"62586da6.706c04","type":"websocket out","z":"5ebc6228.47110c","name":"","server":"eb24a332.8705b","client":"","x":760,"y":220,"wires":[]},{"id":"598d8b7e.b07be4","type":"http in","z":"5ebc6228.47110c","name":"","url":"/dsxinsights","method":"get","swaggerDoc":"","x":244,"y":383,"wires":[["d977d8ed.a8415"]]},{"id":"d977d8ed.a8415","type":"template","z":"5ebc6228.47110c","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!doctype html>\n<html>\n\n<head>\n\t<title>Insights from DSX</title>\n\n\t<meta name=\"viewport\" \n\t\tcontent=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n\n\t<script src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n\t<script src=\"http://code.jquery.com/ui/1.12.1/jquery-ui.min.js\"></script>\n\n\t<link rel=\"stylesheet\" href=\"https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css\">\n\n\t<script src=\"https://d3js.org/d3.v4.js\"></script>\n\t<style>\n\t\t.legendtext {\n\t\t\tfont-size: 16px;\n\t\t\tfill: blue;\n\t\t\ttext-anchor: left;\n\t\t\tfont: Arial;\n\t\t}\n\n\t\t.hovertext {\n\t\t\tfont-size: 10px;\n\t\t\ttext-anchor: left;\n\t\t\tfont: Arial;\n\t\t\tfill: blue;\n\t\t}\n\n\t\t.goldfill {\n\t\t\tfill: gold;\n\t\t}\n\n\t\t.silverfill {\n\t\t\tfill: #A8A8A8;\n\t\t}\n\n\t\t.bronzefill {\n\t\t\tfill: #965A38;\n\t\t}\n\n\t\t.legendoutline {\n\t\t\tfill: none;\n\t\t\tstroke-width: 3;\n\t\t\tstroke: green;\n\t\t}\n\n\t\t.bar {\n\t\t\tfill: steelblue;\n\t\t}\n\n\t\t.bar:hover {\n\t\t\tfill: brown;\n\t\t}\n\n\t\t.bar1 {\n\t\t\tfill: gold;\n\t\t}\n\n\t\t.bar1:hover {\n\t\t\tfill: brown;\n\t\t}\n\n\t\t.axis--x path {\n\t\t\tstroke: blue;\n\t\t}\n\n\t\t.axis--y path {\n\t\t\tstroke: blue;\n\t\t}\n\n\t\t.linegold {\n\t\t\tfill: none;\n\t\t\tstroke: gold;\n\t\t\tstroke-width: 3px;\n\t\t}\n\n\t\t.linesilver {\n\t\t\tfill: none;\n\t\t\tstroke: #A8A8A8;\n\t\t\tstroke-width: 3px;\n\t\t}\n\n\t\t.linebronze {\n\t\t\tfill: none;\n\t\t\tstroke: #965A38;\n\t\t\tstroke-width: 3px;\n\t\t}\n\n\t\t.circle {\n\t\t\tfill: lightblue;\n\t\t}\n\n\t\t.circlehover {\n\t\t\tfill: orange;\n\t\t}\n\n\t\t.rect {\n\t\t\tfill: steelblue;\n\t\t}\n\n\t\t.grid line {\n\t\t\tstroke: lightgrey;\n\t\t\tstroke-opacity: 0.7;\n\t\t\tshape-rendering: crispEdges;\n\t\t}\n\n\t\t.grid path {\n\t\t\tstroke-width: 0;\n\t\t}\n\n\t\tpath {\n\t\t\tstroke: steelblue;\n\t\t\tstroke-width: 2;\n\t\t\tfill: none;\n\t\t}\n\n\t\t.axis path, .axis line {\n\t\t\tfill: none;\n\t\t\tstroke: grey;\n\t\t\tstroke-width: 1;\n\t\t\tshape-rendering: crispEdges;\n\t\t}\n\n\t\t.hover { background-color:#87CEEB; }\n\n\t\tth {\n\t\t    background-color: #AFEEEE;\n\t\t    color: black;\n\t\t    padding: 6px;\n\t\t}\n\n\t\t.gobutton {\n\t\t    background-color: #e7e7e7;\n\t\t    color: black;\n\t\t    width:80px;\n\t\t    height:24px;\n\t\t}\n\n\t\t.venues {\n\t\t    padding-left: 50px;\n\t\t    width: 40%;\n\t\t    display: inline-block;\n\t\t}\n\n\t\t.correlation {\n\t\t    display: inline-block;\n\t\t}\n\n\t\t.leftPieChart {\n\t\t    padding-left: 50px;\n\t\t    width: 45%;\n\t\t    display: inline-block;\n\t\t    border: 1px solid green;\n\t\t}\n\n\t\t.rightPieChart {\n\t\t    height: 302px;\n\t\t    width: 605px;\n\t\t    display: inline-block;\n\t\t    border: 1px solid green;\n\t\t}\n\n\t\t.arc text {\n\t\t  font: 10px sans-serif;\n\t\t  text-anchor: middle;\n\t\t  fill: black;\n\t\t}\n\n\t\t.arc path {\n\t\t  stroke: #fff;\n\t\t}\n\n\t\t.tooltip p {\n\t\t    margin: 0;\n\t\t    font-family: sans-serif;\n\t\t    font-size: 16px;\n\t\t    line-height: 20px;\n\t\t}\n\n\t\t.tooltip {\n\t\t    position: absolute;\n\t\t    width: 100px;\n\t\t    height: auto;\n\t\t    padding: 10px;\n\t\t    background-color: white;\n\t\t    -webkit-border-radius: 10px;\n\t\t    -moz-border-radius: 10px;\n\t\t    border-radius: 10px;\n\t\t    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);\n\t\t    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);\n\t\t    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;\n\t\t}\n\t\t\n\t\t.hidden {\n\t\t    opacity: 0;\n\t\t}\n\t</style>\n</head>\n\n<script>\n    // Update with base URL mentioned in the documentation\n\tvar websocketURL = \"ws://NODERED_BASE_URL/ws/orchestrate\";\n\t\n\t$(document).ready(function() {\t\n\t\tif (websocketURL.includes(\"NODERED_BASE_URL\")) {\n\t\t\talert(\"Node-red Base URL is not provided. Please refer documentation.\")\n\t\t}\n\n\t\t$( \"#tabs\" ).tabs();\n\t\t\n\t\t//Populate countries\n\t\tvar countriesmessage = {\"cmd\":\"COUNTRIES\"};\n\t\tsend(JSON.stringify(countriesmessage));\n\t\t\n\t\t//Populate Editions\n\t\tvar yearsmessage = {\"cmd\":\"EDITIONS\"};\n\t\tsend(JSON.stringify(yearsmessage));\n\n\t\t//Populate Macro Insights\n\t\tvar getVenues = {\"cmd\":\"YV\"};\n\t\tsend(JSON.stringify(getVenues));\n\n\t\tvar getCorrelationData = {\"cmd\":\"CORR\"};\n\t\tsend(JSON.stringify(getCorrelationData));\n\t\t\n\t\t//Draw charts on page load\n\t\tdrawCharts();\n    });\n\t\n\t//Populate countries in combo box\n\tfunction populateCountries(responseObject) {\n\t\tvar countryNamesOptions = responseObject[\"response\"];\n\t\t\n\t\t$.each(countryNamesOptions, function(i, obj)  { \n\t   \t\t$('#country').append( new Option(obj.text,obj.value) );\n\t\t});\n\t\t$('#country').val(\"USA\");\n\t}\n\t\n\t//Populate years in combo box\n\tfunction populateYears(responseObject) {\n\t\tvar yearOptions = responseObject[\"response\"];\n\t\t\n\t\t$.each(yearOptions, function(i, obj) { \n\t   \t\t$('#year').append( new Option(obj.text,obj.value) );\n\t\t});\n\t\t$('#year').val(\"2008\");\n\t}\n\t\n\t//Populate data in sample data view\n\tfunction populateDataTable(responseObject) { \n\t\t$(\"#dataset\").empty();\n\n\t\tvar dataMessage = responseObject[\"response\"];\n\t\tvar colHeader = \"<thead> <tr>\";\n\t\t$.each(dataMessage.cols, function(i, obj) { \n\t\t  \tcolHeader += \"<th>\"+obj+\"</th>\";\n\t\t});\n\t\tcolHeader += \"</tr> </thead>\";\n\t\t$(\"#dataset\").append(colHeader);\n\n\t\tfor (var i=0; i<35; i++) {\n\t\t  \tvar newRow = \"<tr>\";\n\t\t  \t$.each(dataMessage.vals[i], function(i, obj) { \n\t\t  \t\tnewRow += \"<td>\"+obj+\"</td>\";\n\t\t  \t});\n\t\t  \tnewRow += \"</tr>\"\n\t\t  \t$(\"#dataset\").append(newRow);\n\t\t}\n\t\t$('#dataset tr').hover(\n  \t\t\tfunction () {\n    \t\t\t$(this).addClass('hover');\n  \t\t\t}, \n  \t\t\tfunction () {\n    \t\t\t$(this).removeClass('hover');\n  \t\t\t}\n\t\t);\n\t}\n\t\n\t//Populate Macro Insight - Editions Vs Venues\n\tfunction populateVenues(responseObject) {\n\t\tvar dataMessage = responseObject[\"response\"];\n\n\t\t$.each(dataMessage, function(i, obj) {\n\t\t  \tvar newRow = \"<tr>\";\n\t\t  \t\tnewRow += \"<td>\"+obj.Year+\"</td>\";\n\t\t  \t\tnewRow += \"<td>\"+obj.Venue+\"</td>\";\n\t\t  \tnewRow += \"</tr>\"\n\t\t  \t$(\"#venues\").append(newRow);\n\t\t});\n\t}\n\n\t//Populate Macro Insight - Correlation Matrix\n\tfunction populateCorrelationMatrix(responseObject) {\n\t\tvar correlationData = responseObject[\"response\"];\n\t\t \n\t\t$.each(correlationData, function(i, obj) {\n\t\t  \tvar newRow = \"<tr>\";\n\t\t  \t\tnewRow += \"<td>\"+obj.Year+\"</td>\";\n\t\t  \t\tnewRow += \"<td>\"+obj.Population+\"</td>\";\n\t\t  \t\tnewRow += \"<td>\"+obj.GDP+\"</td>\";\n\t\t  \tnewRow += \"</tr>\"\n\t\t  \t$(\"#correlation\").append(newRow);\n\t\t});\n\t}\n\t\t\n\t//Socket communication\n\tvar socket = new  WebSocket(websocketURL);\n\t\t\t\n\tsocket.onopen = function() {\n\t\tvar message = {\n\t\t\t'cmd': 'Client connected'\n\t\t};\n\t\tsocket.send(JSON.stringify(message));\n\t};\n\t\t\t\n\tsocket.onclose = function(){\n\t\tconsole.log('Connection closed');\n\t};\n\n\tsocket.onerror = function(error) {\n\t\tconsole.log('Error detected: ' + error);\n\t};\n\t\t\t\n\tsocket.onmessage = function(e) {\n\t\tvar server_message = e.data;\n\t\tresponseObject = JSON.parse(server_message);\n\t\t   \n\t\tif (responseObject[\"forcmd\"] == \"T10G\"){\n\t\t    drawBarChart(responseObject);\n\t\t}\n\t\t   \n\t    if (responseObject[\"forcmd\"] == \"T10M\"){\n\t\t    drawBarChart(responseObject);\t   \n\t    }\n\t\t\t  \n\t    if (responseObject[\"forcmd\"] == \"MBSA\"){\n\t\t    drawPieChart(responseObject);\t\t  \n\t    }\n\n\t\tif (responseObject[\"forcmd\"] == \"MBSC\"){\n\t\t    drawPieChart2(responseObject);\t\t  \n\t    }\n\n\t    if (responseObject[\"forcmd\"] == \"MBY\"){\n\t\t    drawLineChart(responseObject);\t\t  \n\t    }\n\t\t   \n\t\tif (responseObject[\"forcmd\"] == \"COUNTRIES\") {\t\n            populateCountries(responseObject);\n\t\t}\n\t\t   \n\t\tif (responseObject[\"forcmd\"] == \"EDITIONS\") {\t\n            populateYears(responseObject);\n\t\t}\n\t\t   \n\t\tif (responseObject[\"forcmd\"] == \"DATA\") {\t\n            populateDataTable(responseObject);\n\t\t}\n\n\t\tif (responseObject[\"forcmd\"] == \"YV\") {\t\n            populateVenues(responseObject);\n\t\t}\n\n\t\tif (responseObject[\"forcmd\"] == \"CORR\") {\t\n            populateCorrelationMatrix(responseObject);\n\t\t}\n\t};\n\t\t\n\tfunction send(msg) {\n\t\twait_for_socket_connection(socket, function() {\n\t\t\tsocket.send(msg);\n\t\t});\n\t};\n\t\t\n\tfunction wait_for_socket_connection(socket, callback){\n\t\tsetTimeout(\n\t\t\tfunction(){\n\t\t\t\tif (socket.readyState === 1) {\n\t\t\t\t\tif(callback !== undefined){\n\t\t\t\t\t\tcallback();\n\t\t\t\t\t}\n\t\t\t\t\treturn;\n\t\t\t\t} else {\n\t\t\t\t\twait_for_socket_connection(socket,callback);\t\t\t\t\t\n\t\t\t\t}\n\t\t\t}, 5);\n\t};\n\n\tfunction drawCharts() {\n\t\td3.selectAll('svg').remove();\n\n\t\tvar selectedCountry = $('#country').val();\n\t\tif (selectedCountry == null)\n\t\t    selectedCountry = 'USA';\n\t\t\t  \n        var selectedYear = $('#year').val();\n\t\tif (selectedYear == null)\n\t\t    selectedYear = 2008;\n        else\t\t\t  \n           \tselectedYear\t= parseInt(selectedYear);\t\n\t\t\t\n\t\t//get data from notebook to load in sample data view  \n\t\tvar datamessage = {\"cmd\":\"DATA\", \"country\":selectedCountry, \"edition\":selectedYear };\n\t\tsend(JSON.stringify(datamessage));\n\n\t\t//get data from notebook : \n        var t10gmessage = {\n\t           'cmd': 'T10G',\n\t\t\t   'edition':selectedYear\n\t    };\n\t\tsend(JSON.stringify(t10gmessage));\n\t\t\n\t\t//get data from notebook :\n\t\tvar t10mmessage = {\n\t           'cmd': 'T10M',\n\t\t\t   'edition':selectedYear\n\t    };\n\t\tsend(JSON.stringify(t10mmessage));\n\t\t\n\t\t//get data from notebook :  \n\t\tvar mbscmessage = {\n\t           'cmd': 'MBSC',\n\t\t\t   'country': selectedCountry\n\t    };\n\t\tsend(JSON.stringify(mbscmessage));\n\n\t\t//get data from notebook :\n\t\tvar mbsamessage = {\n\t           'cmd': 'MBSA',\n\t\t\t   'country': selectedCountry\n\t    };\n\t\tsend(JSON.stringify(mbsamessage));\n       \n       \t//get data from notebook :\n\t\tvar mbymessage = {\n\t           'cmd': 'MBY',\n\t\t\t   'country': selectedCountry\n\t    };\n\t\tsend(JSON.stringify(mbymessage));\n\t};\n\n\t\t// Draw pie chart for medals by category over last 10 years\n\t\tfunction drawPieChart(responseObject){\n\t\t\t\tvar jsondata, data;\n\t\t\t\tjsondata =responseObject[\"response\"];\n\t\t\t\tdata =  jsondata[\"medals\"];\n\t\t\t\tvar categories = jsondata[\"categories\"]\n\t\t\t\t\n\t\t\t\tvar title = \"Medals by category for last 10 Olympic editions\";\n\n\t\t\t\tvar width = 450,\n\t\t\t\t\theight = 300,\n\t\t\t\t\tradius = Math.min(width - 40, height -40) / 2;\n\n\t\t\t\tvar color = d3.scaleOrdinal()\n\t\t\t\t\t.range([\"#1E90FF\", \"#FF4500\", \"#87CEEB\",\"#808000\",\"#FF6347\",\"orange\", \"green\", \"red\"]);\n\n\t\t\t\tvar arc = d3.arc()\n\t\t\t\t\t.outerRadius(radius - 10)\n\t\t\t\t\t.innerRadius(10);\n\n\t\t\t\tvar labelArc = d3.arc()\n\t\t\t\t\t.outerRadius(radius - 40)\n\t\t\t\t\t.innerRadius(radius - 40);\n\n\t\t\t\tvar pie = d3.pie()\n\t\t\t\t\t.sort(null)\n\t\t\t\t\t.value(function(d) { return d; });\n\n\t\t\t\tvar svg = d3.select(\"#lastTenYearsInsights\").append(\"svg\")\t\t    \n\t\t\t\t\t.attr(\"width\", width)\n\t\t\t\t\t.attr(\"height\", height)\n\t\t\t\t\t.append(\"g\")\t\t\t\n\t\t\t\t\t.attr(\"transform\", \"translate(\" + width/2 + \",\" + height/2 + \")\");\n\n\t\t\t\t  var g = svg.selectAll(\".arc\")\n\t\t\t\t\t  .data(pie(data))\n\t\t\t\t\t.enter().append(\"g\")\n\t\t\t\t\t  .attr(\"class\", \"arc\");\n\n\t\t\t\t  g.append(\"path\")\n\t\t\t\t\t  .attr(\"d\", arc)\n\t\t\t\t\t  .style(\"fill\", function(d) { return color(d.data);}) \n\t\t\t\t\t  .on('mouseover', function(d) {\n\t\t\t\t\t  \t\td3.select(\"#tooltip\")\n        \t\t\t\t\t\t.style(\"left\", d3.event.pageX + \"px\")\n        \t\t\t\t\t\t.style(\"top\", d3.event.pageY + \"px\")\n        \t\t\t\t\t\t.style(\"opacity\", 1)\n        \t\t\t\t\t\t.select(\"#value\")\n        \t\t\t\t\t\t.text(d.value);\n\t\t\t\t\t  \t})\n\t\t\t\t\t  .on(\"mouseout\", function () {  // Hide the tooltip\n    \t\t\t\t\t\td3.select(\"#tooltip\")\n        \t\t\t\t\t\t.style(\"opacity\", 0);\n        \t\t\t});\n\n\t\t\t\t  g.append(\"text\")\n\t\t\t\t\t  .attr(\"transform\", function(d) {   \n\t\t\t\t\t  \t\tcentroid = [(arc.centroid(d)[0]+labelArc.centroid(d)[0])/2,(arc.centroid(d)[1]+labelArc.centroid(d)[1])/2];\n\t\t\t\t\t\t\treturn \"translate(\" + centroid + \")rotate(\" + angle(d) + \")\";\n\t\t\t\t\t\t})\n\t\t\t\t\t  .attr(\"dy\", \".50em\")\n\t\t\t\t\t  .style(\"font-size\", \"12px\")\n\t\t\t\t\t  .text(function(d) { return categories[d.index]; });\n\t\t\t\t\t\n\t\t\t\t\tfunction angle(d) {\n      \t\t\t\t\tvar a = (d.startAngle + d.endAngle) * 90 / Math.PI - 90;\n      \t\t\t\t\treturn a > 90 ? a - 180 : a;\n    \t\t\t\t}  \n\t\t\t\tsvg.append(\"text\")             \n\t\t\t\t\t\t  .attr(\"transform\", \"translate(\" + 0 + \" ,\" + (radius+15) + \")\")\n\t\t\t\t\t\t  .style(\"text-anchor\", \"middle\")\n\t\t\t\t\t\t  .style(\"font-color\", \"black\")\n\t\t\t\t\t\t  .text(title);\t\t\t  \n\t\t}\n\n\t\t// Draw pie chart for medals by category for last year (2008)\n \t\tfunction drawPieChart2(responseObject){\n\t\t\t\tvar jsondata, data;\n\t\t\t\tjsondata =responseObject[\"response\"];\n\t\t\t\tdata =  jsondata[\"medals\"];\n\t\t\t\tvar categories = jsondata[\"categories\"]\n\t\t\t\t\n\t\t\t\tvar title = \"Medals by category for the Olympic edition - 2008\";\n\n\t\t\t\tvar width = 600,\n\t\t\t\t\theight = 300,\n\t\t\t\t\tradius = Math.min(width - 40, height -40) / 2;\n\n\t\t\t\tvar color = d3.scaleOrdinal()\n\t\t\t\t\t.range([\"#4169E1\", \"#FF6347\", \"#90EE90\", \"orange\", \"#87CEEB\",\"green\",\"#FF4500\"]);\n\n\t\t\t\tvar arc = d3.arc()\n\t\t\t\t\t.outerRadius(radius - 10)\n\t\t\t\t\t.innerRadius(10);\n\n\t\t\t\tvar labelArc = d3.arc()\n\t\t\t\t\t.outerRadius(radius - 40)\n\t\t\t\t\t.innerRadius(radius - 40);\n\n\t\t\t\tvar pie = d3.pie()\n\t\t\t\t\t.sort(null)\n\t\t\t\t\t.value(function(d) { return d; });\n\n\t\t\t\tvar svg = d3.select(\"#lastYearInsights\").append(\"svg\")\t\t    \n\t\t\t\t\t.attr(\"width\", width)\n\t\t\t\t\t.attr(\"height\", height)\n\t\t\t\t\t.append(\"g\")\t\t\t\n\t\t\t\t\t.attr(\"transform\", \"translate(\" + width / 2 + \",\" + height / 2 + \")\");\n\n\t\t\t\t  var g = svg.selectAll(\".arc\")\n\t\t\t\t\t  .data(pie(data))\n\t\t\t\t\t  .enter().append(\"g\")\n\t\t\t\t\t  .attr(\"class\", \"arc\");\n\n\t\t\t\t  g.append(\"path\")\n\t\t\t\t\t  .attr(\"d\", arc)\n\t\t\t\t\t  .style(\"fill\", function(d) { return color(d.data); })\n\t\t\t\t\t  .on('mouseover', function(d) {\n\t\t\t\t\t  \t\td3.select(\"#tooltip1\")\n        \t\t\t\t\t\t.style(\"left\", d3.event.pageX + \"px\")\n        \t\t\t\t\t\t.style(\"top\", d3.event.pageY + \"px\")\n        \t\t\t\t\t\t.style(\"opacity\", 1)\n        \t\t\t\t\t\t.select(\"#value1\")\n        \t\t\t\t\t\t.text(d.value);\n\t\t\t\t\t  \t})\n\t\t\t\t\t  .on(\"mouseout\", function () {  // Hide the tooltip\n    \t\t\t\t\t\td3.select(\"#tooltip1\")\n        \t\t\t\t\t\t.style(\"opacity\", 0);\n        \t\t\t});\n\n\t\t\t\t  g.append(\"text\")\n\t\t\t\t\t  .attr(\"transform\", function(d) {   \n\t\t\t\t\t  \t\tcentroid = [(arc.centroid(d)[0]+labelArc.centroid(d)[0])/2,(arc.centroid(d)[1]+labelArc.centroid(d)[1])/2];\n\t\t\t\t\t\t\n        \t\t\t\t\treturn \"translate(\" + centroid + \")rotate(\" + angle(d) + \")\";\n        \t\t\t\t})\n\t\t\t\t\t  .attr(\"dy\", \".50em\")\n\t\t\t\t\t  .style(\"font-size\", \"12px\")\n\t\t\t\t\t  .text(function(d) { return categories[d.index]; });\n\t\t\t\t\t\n\t\t\t\t\tfunction angle(d) {\n      \t\t\t\t\tvar a = (d.startAngle + d.endAngle) * 90 / Math.PI - 90;\n      \t\t\t\t\treturn a > 90 ? a - 180 : a;\n    \t\t\t\t}  \n\t\t\t\tsvg.append(\"text\")             \n\t\t\t\t\t\t  .attr(\"transform\", \"translate(\" + 0 + \" ,\" + (radius+15) + \")\")\n\t\t\t\t\t\t  .style(\"text-anchor\", \"middle\")\n\t\t\t\t\t\t  .style(\"font-color\", \"black\")\n\t\t\t\t\t\t  .text(title);\t\t\t  \n\t\t}\n\n\t\t// Draw bar charts for top ten medal winning countries and top ten countries on total medals tally\n\t\tfunction drawBarChart(responseObject) {\n\t        var cmd = responseObject[\"forcmd\"]\n\t\t\tvar title = \"Top Ten Countries on Gold Medals Tally\";\n\t\t\tif (cmd == \"T10G\")\n\t\t\t{\n\t\t\t\ttitle = \"Top Ten Countries on Gold Medals Tally\";\n\t\t\t}\n\t\t    else\n\t\t\t{               \n\t\t\t\ttitle = \"Top Ten Countries on Total Medals Tally\";\n\t\t\t}\n\t\t\t\t\n\t        var jsondata =responseObject[\"response\"];\n\t\t\tvar data = jsondata;\n\t\t\t\t\t\t\n\t\t\t// set the dimensions and margins of the graph\n\t\t\tvar margin = {top: 20, right: 20, bottom: 50, left: 40},\n\t\t\t\twidth = data.length*50 - margin.left - margin.right,\n\t\t\t\theight = 600 - margin.top - margin.bottom;\n\n\t\t\t// set the ranges\n\t\t\tvar x = d3.scaleBand()\n\t\t\t\t\t  .range([0, width])\n\t\t\t\t\t  .padding(0.1);\n\t\t\tvar y = d3.scaleLinear()\n\t\t\t\t\t  .range([height, 0]);\n\t\t\t\t\t  \n\t\t\t// append the svg object to the body of the page\n\t\t\tvar svg = d3.select(\"#editioninsights\").append(\"svg\")\n\t\t\t\t.attr(\"width\", width + margin.left + margin.right)\n\t\t\t\t.attr(\"height\", height + margin.top + margin.bottom)\n\t\t\t\t.append(\"g\")\n\t\t\t\t.attr(\"transform\", \"translate(\" + margin.left + \",\" + margin.top + \")\");\n\n\t\t\t// Scale the range of the data in the domains\n\t\t\tx.domain(data.map(function(d) { return d.country; }));\n\t\t\ty.domain([0, d3.max(data, function(d) { return d.tally; })]);\n\n\t\t\t// append the rectangles for the bar chart\n\t\t\tvar rect = svg.selectAll(\".bar\")\n\t\t\t\t  .data(data)\n\t\t\t\t  .enter().append(\"rect\")\n\t\t\t\t  .attr(\"class\", \"bar\")\n\t\t\t\t  .attr(\"x\", function(d) { return x(d.country); })\t\t\t\t  \n\t\t\t\t  .attr(\"y\", function(d) { return y(d.tally); })\n\t\t\t\t  .transition().duration(1000)\n                  .delay( function(d,i) { return i * 200;})\n\t\t\t\t  .attr(\"width\", x.bandwidth())\n\t\t\t\t  .attr(\"height\", function(d) { return height - y(d.tally); });\n\t\t\t\t  \n\t\t\tif (cmd == \"T10G\")\n\t\t\t      rect.attr(\"class\",\"bar1\");\n\t\t\t\t\n            svg.append(\"text\")             \n                  .attr(\"transform\",\n                         \"translate(\" + (width/2) + \" ,\" + (height + margin.top + 25) + \")\")\n                  .style(\"text-anchor\", \"middle\")\n\t\t\t\t  .style(\"font-color\", \"black\")\n                  .text(title);\t\t\t\t\n\n\t\t\t// add the x Axis\n\t\t\tsvg.append(\"g\")\n\t\t\t\t  .attr(\"transform\", \"translate(0,\" + height + \")\")\n\t\t\t\t  .call(d3.axisBottom(x));\n\n\t\t\t// add the y Axis\n\t\t\tsvg.append(\"g\")\n\t\t\t\t  .call(d3.axisLeft(y));\t\t\t\n\t\t}\n\n\t\t// Draw multi-line chart for total number of medals vs Editions for a country\n\t\tfunction drawLineChart(responseObject){\t\t\t\n\t\t\tvar margin = {top: 20, right: 20, bottom: 60, left: 40};\n\t\t\tvar width = 920;\n\t\t\tvar height = 350;\n\t\t\tvar svg = d3.select(\"#countryinsights\").append(\"svg\")\n\t\t\t\t.attr(\"width\", width + margin.left + margin.right*10)\n\t\t\t\t.attr(\"height\", height + margin.top + margin.bottom)\n\t\t\t\t.append(\"g\")\n\t\t\t\t.attr(\"transform\", \"translate(\" + margin.left + \",\" + margin.top + \")\");\n\t\t\t\t\t  \n\t\t\tvar x = d3.scaleBand().rangeRound([0, width]).padding(0.1),\n\t\t\t\ty = d3.scaleLinear().rangeRound([height, 0]);\n\t\t\t\n\t\t\tvar g = svg.append(\"g\")\n\t\t\t\t.attr(\"transform\", \"translate(\" + margin.left + \",\" + margin.top + \")\");\n\t\t\t\n\t\t\tvar jsondata =responseObject[\"response\"];\n\t\t\tvar data = jsondata;\n\t\t\n\t        var max = 50;\n\t        for (i=0; i<data.length;i++)\n\t        {\n\t\t\t  if (data[i].Gold > max)\n\t\t\t     max = data[i].Gold;\n\t\t\t\t \n\t\t\t  if (data[i].Silver > max)\n\t             max = data[i].Silver;\n\n\t          if (data[i].Bronze > max)\n\t             max = data[i].Bronze;\t\t  \n\t        }\t\t\n\t\t\t\n\t\t\tvar line = d3.line()\n\t\t\t\t.x(function(d) { return x(d.Year); })\n\t\t\t\t.y(function(d) { return y(d.Gold); })\n\t\t\t\t\n\t\t\tvar line1 = d3.line()\n\t\t\t\t.x(function(d) { return x(d.Year); })\n\t\t\t\t.y(function(d) { return y(d.Silver); })\n\t\t\t\t\n\t\t\tvar line2 = d3.line()\n\t\t\t\t.x(function(d) { return x(d.Year); })\n\t\t\t\t.y(function(d) { return y(d.Bronze); })\t\n\n\t\t  \tx.domain(data.map(function(d) { return d.Year; }));\n\n\t\t  \ty.domain([0, max]);\n\t\t  \tg.append(\"g\")\n\t\t\t  .attr(\"class\", \"axis axis--x\")\n\t\t\t  .attr(\"transform\", \"translate(\"+\"-\"+margin.left+\",\" + height + \")\")\n\t\t\t  .call(d3.axisBottom(x));\n\n\t\t  \tg.append(\"g\")\n\t\t\t  .attr(\"class\", \"axis axis--y\")\n\t\t\t  .call(d3.axisLeft(y).ticks(10))\n\t\t\t  .append(\"text\")\n\t\t\t  .attr(\"transform\", \"rotate(-90)\")\n\t\t\t  .attr(\"y\", 6)\n\t\t\t  .attr(\"dy\", \"0.71em\");\n\n\t\t  \t// now add titles to the axes\n\t      \tg.append(\"text\")\n\t            .style(\"text-anchor\", \"middle\")  //to centre the text as the transform is applied to anchor\n\t            .attr(\"transform\", \"translate(\"+\"-\"+ (margin.left) +\",\"+(height/2)+\")rotate(-90)\")\n\t            .text(\"Number of Medals\");\n\n\t      \tg.append(\"text\")\n\t            .style(\"text-anchor\", \"middle\")  //to centre the text as the transform is applied to anchor\n\t            .attr(\"transform\", \"translate(\"+ ((width/2)-(margin.top+10)) +\",\"+(height+35)+\")\")\n\t            .text(\"Editions\");\n          \n          \t// now add data to the chart\n\t\t  \tg.append(\"path\")\n\t\t\t\t.datum(data)\n\t\t\t\t.attr(\"class\", \"linegold\")\n\t\t\t\t.attr(\"d\", line);\n\t\t\t\n\t\t  \tg.append(\"path\")\n\t\t\t\t.datum(data)\n\t\t\t\t.attr(\"class\", \"linesilver\")\n\t\t\t\t.attr(\"d\", line1);\t\n\t\t\t\n\t\t  \tg.append(\"path\")\n\t\t\t\t.datum(data)\n\t\t\t\t.attr(\"class\", \"linebronze\")\n\t\t\t\t.attr(\"d\", line2);\t\n\n\t\t  \tg.selectAll(\"circle\")\n\t\t\t\t.data(data)\n\t\t\t    .enter().append(\"circle\")\n\t\t\t\t.attr(\"class\", \"circle\")\n\t\t\t\t.attr(\"cx\", function(d) { return x(d.Year); })\n\t\t\t\t.attr(\"cy\", function(d) { return y(d.Gold); })\t\t\t\n\t\t\t\t.attr(\"r\", 4)  \n\t\t\t\t.on(\"mouseover\", handleMouseOverGold)\n\t            .on(\"mouseout\", handleMouseOutGold);\n\t\t\t\n\t\t   \tg.selectAll(\"rect\")\n\t\t\t\t.data(data)\n\t\t\t    .enter().append(\"rect\")\n\t\t\t\t.attr(\"class\", \"circle\")\n\t\t\t\t.attr(\"x\", function(d) { return x(d.Year)-4; })\n\t\t\t\t.attr(\"y\", function(d) { return y(d.Silver)-4; })\t\t\t\n\t\t\t\t.attr(\"width\", 8)\n\t\t\t\t.attr(\"height\", 8)\n\t\t\t\t.on(\"mouseover\", handleMouseOverSilver)\n\t            .on(\"mouseout\", handleMouseOutSilver);\n\t\t\n           \tg.selectAll(\"ellipse\")\n\t\t\t\t.data(data)\n\t\t\t    .enter().append(\"ellipse\")\n\t\t\t\t.attr(\"class\", \"circle\")\n\t\t\t\t.attr(\"cx\", function(d) { return x(d.Year); })\n\t\t\t\t.attr(\"cy\", function(d) { return y(d.Bronze); })\t\t\t\t\n\t\t\t\t.attr(\"rx\", 6)\n\t\t\t\t.attr(\"ry\", 4)\n\t\t\t\t.on(\"mouseover\", handleMouseOverBronze)\n\t            .on(\"mouseout\", handleMouseOutBronze);\n           \n\t\t   \t\t//Code - http://bl.ocks.org/WilliamQLiu/76ae20060e19bf42d774\n\t\t\t\tfunction handleMouseOverGold(d, i) {  \n\t\t\t\t\td3.select(this).attr(\"r\",8)\n\t\t\t\t\t               .attr(\"class\",\"circlehover\");\n\t\t            \n\t\t\t\t\ttextid = \"t\" + d.Year + \"-\" + d.Gold + \"-\" + i;\n\t\t\t\t\txlo = x(d.Year);\n\t\t\t\t\tylo = y(d.Gold);\n\t\t\t\t\t\n\t\t            svg.append(\"text\") \n\t\t                  .attr(\"id\", textid)\n\t\t                  .attr(\"transform\",\n\t\t                         \"translate(\" + xlo + \" ,\" + \n\t\t                         ylo + \")\")\n\t\t                  .attr(\"class\", \"hovertext\")\n\t\t                  .text([\"Year: \" + d.Year, \"Gold: \" + d.Gold]);\n\t\t        }\n\n\t\t\t    function handleMouseOutGold(d, i) {\n\t\t            d3.select(this).attr(\"r\",4)\n\t\t\t\t\t               .attr(\"class\",\"circle\");\n\n\t\t            d3.select(\"#t\" + d.Year + \"-\" + d.Gold + \"-\" + i).remove(); \n\t\t        }\t\t\t\t\n\n\t\t\t\tfunction handleMouseOverSilver(d, i) {  \n\t\t\t\t\td3.select(this).attr(\"width\",12)\n\t\t\t\t\t\t\t\t   .attr(\"height\",12)\n\t\t\t\t\t               .attr(\"class\",\"circlehover\");\n\t\t            \n\t\t\t\t\ttextid = \"t\" + d.Year + \"-\" + d.Silver + \"-\" + i;\n\t\t\t\t\txlo = x(d.Year);\n\t\t\t\t\tylo = y(d.Silver);\n\t\t\t\t\t\n\t\t            svg.append(\"text\") \n\t\t                  .attr(\"id\", textid)\n\t\t                  .attr(\"transform\",\n\t\t                         \"translate(\" + xlo + \" ,\" + \n\t\t                         ylo + \")\")\n\t\t                  .attr(\"class\", \"hovertext\")\n\t\t                  .text([\"Year: \" + d.Year, \"Silver: \" + d.Silver]);\n\t\t        }\n\n\t\t\t    function handleMouseOutSilver(d, i) {\n\t\t            d3.select(this).attr(\"width\",8)\n\t\t\t\t\t\t\t\t   .attr(\"height\",8)\n\t\t\t\t\t               .attr(\"class\",\"rect\")\n\t\t\t\t\t               .attr(\"class\", \"circle\");\n\n\t\t            d3.select(\"#t\" + d.Year + \"-\" + d.Silver + \"-\" + i).remove(); \n\t\t        }\t\t\t\t\n\n\t\t\t\tfunction handleMouseOverBronze(d, i) {  \n\t\t\t\t\td3.select(this).attr(\"rx\",10)\n\t\t\t\t\t\t\t\t   .attr(\"ry\",6)\n\t\t\t\t\t               .attr(\"class\",\"circlehover\");\n\t\t            \n\t\t\t\t\ttextid = \"t\" + d.Year + \"-\" + d.Bronze + \"-\" + i;\n\t\t\t\t\txlo = x(d.Year);\n\t\t\t\t\tylo = y(d.Bronze);\n\t\t\t\t\t\n\t\t            svg.append(\"text\") \n\t\t                  .attr(\"id\", textid)\n\t\t                  .attr(\"transform\",\n\t\t                         \"translate(\" + xlo + \" ,\" + \n\t\t                         ylo + \")\")\n\t\t                  .attr(\"class\", \"hovertext\")\n\t\t                  .text([\"Year: \" + d.Year, \"Bronze: \" + d.Bronze]);\n\t\t        }\n\n\t\t\t    function handleMouseOutBronze(d, i) {\n\t\t            d3.select(this).attr(\"rx\",6)\n\t\t            \t\t\t   .attr(\"ry\",4)\n\t\t\t\t\t               .attr(\"class\",\"circle\");\n\n\t\t            d3.select(\"#t\" + d.Year + \"-\" + d.Bronze + \"-\" + i).remove(); \n\t\t        }\t\t\t\t\n\t\t\t\t\n\t\t\t\tfunction make_x_gridlines() {\t\t\n                \treturn d3.axisBottom(x)\n                         .ticks(10)\n            \t}\n\n\t\t\t\t// gridlines in y axis function\n\t\t\t\tfunction make_y_gridlines() {\t\t\n\t\t\t\t\treturn d3.axisLeft(y)\n\t\t\t\t\t\t.ticks(10)\n\t\t\t\t}\n\t\t\t \t// add the X gridlines\n\t\t\t  \tsvg.append(\"g\")\t\t\t\n\t\t\t\t  .attr(\"class\", \"grid\")\n\t\t\t\t  .attr(\"transform\", \"translate(0,\" + 520  + \")\")\n\t\t\t\t  .call(make_x_gridlines()\n\t\t\t\t\t  .tickSize(-520)\n\t\t\t\t\t  .tickFormat(\"\")\n\t\t\t\t  );\n\n\t\t\t  \t// add the Y gridlines\n\t\t\t  \tsvg.append(\"g\")\t\t\t\n\t\t\t\t  .attr(\"class\", \"grid\")\n\t\t\t\t  .attr(\"transform\", \"translate(0,\" + margin.top  + \")\") \t  \n\t\t\t\t  .call(make_y_gridlines()\n\t\t\t\t\t  .tickSize(-width)\n\t\t\t\t\t  .tickFormat(\"\")\n\t\t\t\t  );\n\t\t\t\t  \n\t\t\t  \t// add legend\n\t\t\t\ttexta = [\"Gold\",\"Silver\", \"Bronze\"];\n\t\t\t\tlegendclass = [\"goldfill\", \"silverfill\", \"bronzefill\"];\n\t\t\t\n\t\t\t  \n\t\t\t  \tfor (i=0; i< texta.length; i++)\n\t\t\t  \t{\n\t\t\t     yp = (i+1)*40+50;\n\t\t\t\t yptext = (i+1)*40+55;\n\t\t\t     svg.append(\"circle\")\n\t\t\t\t     .attr(\"class\", legendclass[i])\n\t\t\t\t\t .attr(\"cx\", (width+80))\n\t\t\t\t\t .attr(\"cy\", yp)\n\t\t\t\t\t .attr(\"r\",5);\n\t\t\t    \n\t\t\t     svg.append(\"text\")             \n                  .attr(\"transform\", \"translate(\" + (width+100) + \" ,\" + yptext + \")\")\n                  .attr(\"class\", \"legendtext\")\n                  .text(texta[i]);\t\n\t\t\t  \t}\n              \n              \tsvg.append(\"rect\")\n\t\t\t     .attr(\"x\", (width+60))\n\t\t\t     .attr(\"y\", 70)\t\t\t\n\t\t\t     .attr(\"width\", 100)\n\t\t\t     .attr(\"height\", 120)\t\t\t\t\n\t\t\t\t .attr(\"class\",\"legendoutline\");\t\n\n\t\t\t}\n</script>\n\n<body>\n\t<div id=\"header\" style = \"font-size: 15px; height:50px; padding-left: 20%; padding-right: 20%;\">\n\t\t<h1>Get Insights From IBM Data Science Experience(DSX)</h1>\n\t</div>\n\t<br/>\n\t<div id=\"tabs\">\n\t\t<ul>\n\t\t\t<li><a href=\"#insight_country\">Insights by Country</a></li>\n\t\t\t<li><a href=\"#insight_year\">Insights by Year</a></li>\n\t\t\t<li><a href=\"#macroinsight\">Macro Insights</a></li>\n\t\t\t<li><a href=\"#data\">Sample Data View</a></li>\n\t\t</ul>\n\n\t\t<div id=\"insight_country\">\n\t\t\t<div class=\"ui-widget\">\n\t\t\t\t<label>Country: </label> \n\t\t\t\t<select class=\"ui-widget\" id=\"country\"> </select> \n\t\t\t\t<input type=\"submit\" class=\"gobutton ui-widget ui-corner-all\" onclick=\"drawCharts()\"\n\t\t\t\t\tvalue=\"Go\"> <br /> <br />\n\t\t\t\t<div style=\"border: 1px solid green; height:440px;\" id=\"countryinsights\"></div>\n\t\t\t\t<br/>\n\t\t\t\t<div class=\"leftPieChart\" id=\"lastTenYearsInsights\">\n\t\t\t\t\t<div id=\"tooltip\" class=\"tooltip hidden\">\n    \t\t\t\t<p><span id=\"value\">100</span> Medals</p>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"rightPieChart\" id=\"lastYearInsights\">\n\t\t\t\t\t<div id=\"tooltip1\" class=\"tooltip hidden\">\n    \t\t\t\t<p><span id=\"value1\">100</span> Medals</p>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n\n\t\t<div id=\"insight_year\">\n\t\t\t<div class=\"ui-widget\">\n\t\t\t\t<label>Year: </label> \n\t\t\t\t<select class=\"ui-widget\" id=\"year\"> </select> \n\t\t\t\t<input type=\"submit\" class=\"gobutton ui-widget ui-corner-all\" onclick=\"drawCharts()\" value=\"Go\"> <br /> <br />\n\t\t\t\t<div style=\"border: 1px solid green\" id=\"editioninsights\"></div>\n\t\t\t</div>\n\t\t</div>\n\n\t\t<div id=\"macroinsight\">\n\t\t\t<div class=\"venues\">\n\t\t\t<strong style=\"font-size: 18px\"><u> Editions and Venues </u> </strong> <br/><br/>\n\t\t\t<table id=\"venues\" data-role=\"table\" class=\"ui-body-d table-stripe\" border=\"1\">\n\t\t\t\t<thead>\n\t\t\t\t\t<tr> <th>Edition</th>\n\t\t\t\t\t\t <th>Venue</th>\n\t\t\t\t\t</tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody>\n\t\t\t\t</tbody>\n\t\t\t</table>\n\t\t\t</div>\n\n\t\t\t<div class=\"correlation\">\n\t\t\t<strong style=\"font-size: 18px\"><u> Correlation of Countries' Total Medals Tally with Population & GDP per capita </u> </strong> <br/><br/>\n\t\t\t<table id=\"correlation\" data-role=\"table\" class=\"ui-body-d table-stripe\" border=\"1\">\n\t\t\t\t<thead>\n\t\t\t\t\t<tr> <th>Edition</th>\n\t\t\t\t\t\t <th>Population</th>\n\t\t\t\t\t\t <th>GDP Per Capita</th>\n\t\t\t\t\t</tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody>\n\t\t\t\t</tbody>\n\t\t\t</table>\n\t\t\t</div>\n\t\t</div>\n\n\t\t<div id=\"data\">\n\t\t\t<a style=\"color:blue;\" href=\"https://github.com/IBM/node-red-dsx-workflow/tree/master/data\">View complete dataset</a>\n\t\t\t<br/><br/>\n\t\t\t<table id=\"dataset\" data-role=\"table\" class=\"ui-body-d table-stripe\" border=\"1\" style = \"border-collapse: collapse;font-size: 11px;width: 100%\">\n\t\t\t\t<tbody>\n\t\t\t\t</tbody>\n\t\t\t</table>\n\t\t</div>\n\t</div>\n\t<br />\n</body>\n\n</html>","x":534,"y":383,"wires":[["bf5aa683.5ae8c8"]]},{"id":"bf5aa683.5ae8c8","type":"http response","z":"5ebc6228.47110c","name":"","x":794,"y":383,"wires":[]},{"id":"ecda6565.672df","type":"comment","z":"5ebc6228.47110c","name":"Flow that creates a Web socket server ","info":"This flow creates a web socket server","x":310,"y":78,"wires":[]},{"id":"ea8dec55.298e5","type":"comment","z":"5ebc6228.47110c","name":"Flow that renders a Web UI","info":"","x":286.5,"y":325,"wires":[]},{"id":"eb24a332.8705b","type":"websocket-listener","z":"","path":"/ws/orchestrate","wholemsg":"false"}]
